<figure class="card">
    <div class="card_hero">
        <img src="/{%IMAGE%}" alt="{%PRODUCTNAME%}" class="card_img">
    </div>
    <h2 class="card_name">{%PRODUCTNAME%}</h2>
<div class="laptop_details">
    <p class="card_detail"><span class="emoji-left"><img src="data/img/screen.png"></span>{%SCREEN%}</p>
    <p class="card_detail"><span class="emoji-left"><img src="data/img/storage.jpg"></span>{%CPU%}</p>
    <div class="card_footer">
        <p class="card_price">{%PRICE%}</p>
        <a href="/laptop?id={%ID%}" class="card_link">Check it out<span class="emoji-right">=>></span></a>
    </div>
</figure>